.navbar {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
  font-family:helvetica;
}

#projects {
  background-color: #e2edff;
}

#contact {
  background-color: #ffffff;
}

section {
  padding-top: 5rem;
}
